/* default size (desktop size)*/
#products {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}
/*Tablet size*/
@media screen and (max-width: 991px){
    #products {
        grid-template-columns: repeat(2, 1fr)
    }
}

/*Phone size*/
@media screen and (max-width: 767px){
    #products {
        grid-template-columns: 1fr
    }

}


.product-img {
    height: 350px;
    width: 100%;/* using % instead of fixed size (px) is best for responsive design*/
    max-width: 350px; 
    object-fit: cover; /* crops the image to fit the square without distorting them*/
    border-radius: 10px;
    border: 1px solid black;
   
}
.products {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
/* add multiple selector at once by separating them with commas*/
.vase-name,
.minus,
.plus,
.vase-price,
.vase-quantity {
    font-size: 16px;
}
#content-wrapper {
    display: flex;
}
aside {
    width:200px;
}
main {
    flex: 1;/* fill remaining space within the page*/
}
body {
    padding: 30px;
    font-family: "Castoro Titling", serif;
}
/* descendent selector to target only the <ul> inside <nav> */
nav ul {
    display: flex;
    font-size: 20px;
    flex: 1;
    gap: 50px;
    padding:30px;
    list-style: none;
}

nav a {
    text-decoration: none;
}
.card-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 10px;
    width: 80%;
}
.quantity-controls {
    display: flex;
    align-items:center;
    gap: 10px;
}